node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node filter=lfs diff=lfs merge=lfs -text
C:/Users/jazzi/OneDrive/Documentos/Desarrollo/portfolio-jazziel/node_modules/@next/swc-win32-x64-msvc filter=lfs diff=lfs merge=lfs -text
